.App {
  text-align: center;
}

.pic {
  height: 20vmin;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #6d6088;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  font-family: monospace;
}

.tino-link {
  color: #7c0b0b;
}

.rice-link {
  color: #30099b;
}
